Repository braincube-io/python-connector: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, flake8, pytest

mypy:
  name: Run mypy
  entry: poetry run mypy
  language: system
  verbose: true

black:
  name: Run black
  entry: poetry run black --check --diff
  language: system
  verbose: true

flake8:
  name: Run linter
  entry: poetry run flake8 braincube_connector
  language: system
  verbose: true

pytest:
  name: Run tests
  entry: poetry run pytest tests
  language: system
  verbose: true

modif Update section
  CONTRIBUTING.md
Due: none

Fix #3, setup Github CI using Gitlab CI as a reference
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: none

Upgrade CONTRIBUTING, add CODE_OF_CONDUCT (#2)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

Fix #8, support configuration options to define different domains for SSO and API
  .pre-commit-config.yaml
  CONTRIBUTING.md
  braincube_connector/client.py
  braincube_connector/constants.py
  braincube_connector/tools.py
  tests/mock.py
  tests/test_client.py
  tests/test_tools.py
  tests_integration/mocks.py
  tests_integration/tests_integration.py
Due: mypy, black, flake8, pytest

Fix pytest configuration
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  tests_integration/test_integration.py
Due: mypy, black, pytest

Explain the goal of pre-commit in our CONTRIBUTING guide
  CONTRIBUTING.md
Due: none

Remove useless scope for fixtures
  tests/mock.py
  tests_integration/mocks.py
Due: mypy, black, pytest

Update documentation
  CHANGELOG.md
  README.md
Due: none

Support configuration options to define different domains for SSO and API (#11)
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  braincube_connector/client.py
  braincube_connector/constants.py
  braincube_connector/tools.py
  poetry.lock
  pyproject.toml
  tests/mock.py
  tests/test_client.py
  tests/test_tools.py
  tests_integration/mocks.py
  tests_integration/test_integration.py
Due: mypy, black, flake8, pytest

fix _expand_var_id typehint
  braincube_connector/data/data.py
Due: mypy, black, flake8, pytest

Fix get_data bcid inconsistency (#10)
  braincube_connector/data/data.py
  braincube_connector/memory_base/memory_base.py
  tests/test_data/test_data.py
  tests/test_memory_base/test_memory_base.py
Due: mypy, black, flake8, pytest

Import documentation from Gitlab
  .gitignore
  CONTRIBUTING.md
  docs/contributing_img/braincube_connector_diagram.png
  docs/contributing_img/braincube_connector_diagram_method.png
  docs/contributing_img/braincube_connector_diagram_simplify.png
  docs/jupyter_presentation/img/api1.png
  docs/jupyter_presentation/img/api2.png
  docs/jupyter_presentation/utilisation_exemple.ipynb
  poetry.lock
  pyproject.toml
Due: none

Fix lock file
  poetry.lock
Due: none

Fix linting issue
  braincube_connector/data/data.py
Due: mypy, black, flake8, pytest

Remove diagrams from the CONTRIBUTING guide
  CONTRIBUTING.md
Due: none

Import documentation from Gitlab (#12)
  .gitignore
  braincube_connector/data/data.py
  docs/contributing_img/braincube_connector_diagram.png
  docs/contributing_img/braincube_connector_diagram_method.png
  docs/contributing_img/braincube_connector_diagram_simplify.png
  docs/jupyter_presentation/img/api1.png
  docs/jupyter_presentation/img/api2.png
  docs/jupyter_presentation/utilisation_exemple.ipynb
  poetry.lock
  pyproject.toml
Due: mypy, black, flake8, pytest

Fix #13, update links in our CHANGELOG
  CHANGELOG.md
Due: none

Update links in our CHANGELOG (#14)
  CHANGELOG.md
Due: none

Fix #5, refactor documentation generation and setup Github action to publish it on Github Pages
  .github/workflows/update_doc.yml
  CONTRIBUTING.md
  docs/api_reference.md
  docs/build_doc.sh
  docs/gen_api_doc_stubs.py
  docs/jupyter_presentation/usage_example.ipynb
  docs/usage.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: mypy, black, pytest

Small fixes
  .github/workflows/update_doc.yml
  mkdocs.yml
Due: none

Adds missing theme files
  .gitignore
  docs/custom_theme/main.html
  docs/custom_theme/partials/header.html
  docs/custom_theme/partials/toc-item.html
  docs/extra.css
  docs/images/braincube.png
  docs/images/favicon.ico
  docs/index.md
Due: none

Refactor documentation generation and setup Github action to publish it on Github Pages (#15)
  .github/workflows/update_doc.yml
  .gitignore
  CONTRIBUTING.md
  docs/api_reference.md
  docs/build_doc.sh
  docs/custom_theme/main.html
  docs/custom_theme/partials/header.html
  docs/custom_theme/partials/toc-item.html
  docs/extra.css
  docs/gen_api_doc_stubs.py
  docs/images/braincube.png
  docs/images/favicon.ico
  docs/index.md
  docs/jupyter_presentation/usage_example.ipynb
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: mypy, black, pytest

Adds an action to publish our package to Pypi when a new release is created
  .github/workflows/release.yml
  pyproject.toml
Due: none

Fix on syntax
  .github/workflows/release.yml
Due: none

Improve PYPI page
  pyproject.toml
Due: none

Fix job
  .github/workflows/release.yml
Due: none

Setup pypi on prod
  .github/workflows/release.yml
  pyproject.toml
Due: none

Fix syntax
  .github/workflows/release.yml
Due: none

Setup env variables
  .github/workflows/release.yml
Due: none

Use a setup job
  .github/workflows/release.yml
Due: none

Bump version
  pyproject.toml
Due: none

Rename repository
  .github/workflows/release.yml
Due: none

Adds an action to publish our package to Pypi when a new release is created (#16)
  .github/workflows/release.yml
  pyproject.toml
Due: none

Prepare 2.4.0
  CHANGELOG.md
  pyproject.toml
Due: none

Prepare 2.4.0 (#17)
  CHANGELOG.md
  pyproject.toml
Due: none

Fix our workflows
  .github/workflows/release.yml
  .github/workflows/update_doc.yml
Due: none

Check documentation workflow
  .github/workflows/update_doc.yml
Due: none

Fix poetry install
  .github/workflows/ci.yml
  .github/workflows/update_doc.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  black: any of: \.py$
  flake8: any of: ^braincube_connector/ and \.py$
  pytest: any of: \.py$
