Repository braincube-io/python-connector: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, flake8, pytest

mypy:
  name: Run mypy
  entry: poetry run mypy
  language: system
  verbose: true

black:
  name: Run black
  entry: poetry run black --check --diff
  language: system
  verbose: true

flake8:
  name: Run linter
  entry: poetry run flake8 py_client
  language: system
  verbose: true

pytest:
  name: Run tests
  entry: poetry run pytest tests
  language: system
  verbose: true

Add Base, BaseEntity, and Braincube objects.
  .flake8
  .gitignore
  .gitlab-ci.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/build_doc.sh
  docs/contributing.md
  docs/documentation.md
  poetry.lock
  py_client/base.py
  py_client/base_entity.py
  py_client/braincube.py
  py_client/client.py
  py_client/constants.py
  py_client/instances.py
  py_client/job.py
  py_client/memory_base.py
  py_client/tools.py
  py_client/variable.py
  pyproject.toml
  tests/mock.py
  tests/test_base.py
  tests/test_base_entity.py
  tests/test_braincube.py
  tests/test_client.py
  tests/test_job.py
  tests/test_memory_base.py
  tests/test_tools.py
  tests/test_variable.py
Due: mypy, black, flake8, pytest

Add the get_data function and the data and parameter modules
  .flake8
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/documentation.md
  py_client/base_entity.py
  py_client/braincube.py
  py_client/client.py
  py_client/constants.py
  py_client/data.py
  py_client/instances.py
  py_client/memory_base.py
  py_client/parameters.py
  py_client/tools.py
  py_client/variable.py
  tests/test_base_entity.py
  tests/test_braincube.py
  tests/test_data.py
  tests/test_memory_base.py
  tests/test_parameters.py
  tests/test_variable.py
Due: mypy, black, flake8, pytest

Add filter creation from MbChild conditions
  CHANGELOG.md
  docs/documentation.md
  py_client/bases/base_entity.py
  py_client/data/conditions.py
  py_client/data/data.py
  py_client/memory_base/nested_resources/condition_container.py
  py_client/memory_base/nested_resources/event.py
  py_client/memory_base/nested_resources/job.py
  py_client/memory_base/nested_resources/variable.py
  py_client/tools.py
  tests/mock.py
  tests/test_bases/test_base_entity.py
  tests/test_data/test_conditions.py
  tests/test_data/test_data.py
  tests/test_memory_base/test_nested_resources/test_condition_container.py
  tests/test_memory_base/test_nested_resources/test_variable.py
  tests/test_tools.py
Due: mypy, black, flake8, pytest

Add get_data to a job
  py_client/memory_base/nested_resources/datagroup.py
  py_client/memory_base/nested_resources/job.py
  tests/mock.py
  tests/test_memory_base/test_nested_resources/test_datagroup.py
  tests/test_memory_base/test_nested_resources/test_job.py
Due: mypy, black, flake8, pytest

Update the readme
  README.md
  py_client/memory_base/nested_resources/job.py
Due: mypy, black, flake8, pytest

Add Get_categories in jobs
  CHANGELOG.md
  README.md
  py_client/memory_base/nested_resources/job.py
  tests/mock.py
  tests/test_memory_base/test_nested_resources/test_job.py
Due: mypy, black, flake8, pytest

Add ressource_getter
  py_client/bases/resource_getter.py
  py_client/braincube.py
  py_client/memory_base/memory_base.py
  py_client/memory_base/nested_resources/datagroup.py
  py_client/memory_base/nested_resources/job.py
  py_client/memory_base/nested_resources/variable.py
  tests/test_bases/test_resource_getter.py
  tests/test_braincube.py
  tests/test_memory_base/test_memory_base.py
Due: mypy, black, flake8, pytest

Add the get_rule method to job and memory_base
  .flake8
  CHANGELOG.md
  README.md
  docs/documentation.md
  py_client/bases/base_entity.py
  py_client/bases/resource_getter.py
  py_client/memory_base/memory_base.py
  py_client/memory_base/nested_resources/job.py
  py_client/memory_base/nested_resources/rule.py
  tests/mock.py
  tests/test_bases/test_base_entity.py
  tests/test_bases/test_resource_getter.py
  tests/test_memory_base/test_memory_base.py
  tests/test_memory_base/test_nested_resources/test_job.py
Due: mypy, black, flake8, pytest

Allow int type for bcid
  CHANGELOG.md
  braincube_connector/bases/resource_getter.py
  braincube_connector/braincube.py
  braincube_connector/memory_base/memory_base.py
  pyproject.toml
  test.csv
  tests/test_bases/test_resource_getter.py
Due: mypy, black, pytest

Add requests module as a no-dev dependency
  .flake8
  CHANGELOG.md
  CONTRIBUTING.md
  braincube_connector/bases/base_entity.py
  braincube_connector/bases/resource_getter.py
  braincube_connector/braincube.py
  braincube_connector/client.py
  braincube_connector/data/data.py
  braincube_connector/instances.py
  braincube_connector/memory_base/nested_resources/condition_container.py
  braincube_connector/memory_base/nested_resources/datagroup.py
  braincube_connector/memory_base/nested_resources/job.py
  braincube_connector/parameters.py
  braincube_connector/tools.py
  poetry.lock
  pyproject.toml
  tests/mock.py
  tests/test_braincube.py
  tests/test_client.py
  tests/test_parameters.py
  tests/test_tools.py
Due: mypy, black, pytest

Notify tag creation on Mattermost, with their content
  .gitlab-ci.yml
Due: none

Introduce the API key as as an authentication method
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  braincube_connector/client.py
  braincube_connector/constants.py
  braincube_connector/tools.py
  pyproject.toml
  tests/mock.py
  tests/test_client.py
  tests/test_tools.py
Due: mypy, black, pytest

Allow disabling json parsing in requests.
  README.md
  braincube_connector/client.py
  tests/test_client.py
  tests/test_tools.py
Due: mypy, black, pytest

Fix the verify setting
  CHANGELOG.md
  README.md
  braincube_connector/client.py
  braincube_connector/constants.py
  tests/test_client.py
Due: mypy, black, pytest

Fix a typo in the doc
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

Fix parsing date list containing lists
  .gitlab-ci.yml
  CHANGELOG.md
  braincube_connector/data/data.py
  poetry.lock
  pyproject.toml
  tests/test_data/test_data.py
  tests_integration/__init__.py
  tests_integration/mocks.py
  tests_integration/tests_integration.py
Due: mypy, black, pytest

Add interruptible: true to endpoints
  .gitlab-ci.yml
Due: none

Fix doc bug https://gitlab.ipleanware.com/braincube/misc/redmine/-/issues/2652
  README.md
Due: none

Ajouter une méthode pour récupérer le nom d'une variable
  CHANGELOG.md
  README.md
  braincube_connector/bases/base_entity.py
  braincube_connector/client.py
  braincube_connector/constants.py
  braincube_connector/memory_base/nested_resources/variable.py
  braincube_connector/parameters.py
  tests/mock.py
  tests/test_bases/test_base_entity.py
  tests/test_memory_base/test_memory_base.py
  tests/test_memory_base/test_nested_resources/test_condition_container.py
  tests/test_memory_base/test_nested_resources/test_variable.py
  tests/test_parameters.py
  tests_integration/mocks.py
  tests_integration/tests_integration.py
Due: mypy, black, pytest

correct error
  braincube_connector/bases/base_entity.py
  tests/test_bases/test_base_entity.py
  tests/test_memory_base/test_nested_resources/test_variable.py
  tests_integration/tests_integration.py
Due: mypy, black, pytest

Pouvoir récupérer les données d'une datasource sous forme d'un dataframe Pandas
  CHANGELOG.md
  README.md
  braincube_connector/data/data.py
  braincube_connector/memory_base/memory_base.py
  tests/test_memory_base/test_memory_base.py
  tests_integration/mocks.py
  tests_integration/tests_integration.py
Due: mypy, black, pytest

Add get_uuid method to base_entity.
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  braincube_connector/bases/base_entity.py
  braincube_connector/braincube.py
  braincube_connector/memory_base/nested_resources/variable.py
  tests/mock.py
  tests/test_bases/test_base_entity.py
  tests/test_braincube.py
  tests/test_memory_base/test_nested_resources/test_variable.py
  tests_integration/tests_integration.py
Due: mypy, black, pytest

Ad release note pipeline
  .gitlab-ci.yml
Due: none

Add a report for [braincube_connector] - python library for braincube
  .gitlab-ci.yml
  release_notes/app_release.md
  release_notes/braincube-connector-python-library-for-braincube/img/create_token.png
  release_notes/braincube-connector-python-library-for-braincube/page.md
Due: none

Update version and date for tag
  CHANGELOG.md
  pyproject.toml
Due: none

Create base templates from examples
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

en cours
  .github/workflows/ci.yml
Due: none

Upgrade CONTRIBUTING, add CODE_OF_CONDUCT
  .github/workflows/ci.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

ci prev
  .github/workflows/ci.yml
Due: none

ci v2
  .github/workflows/ci.yml
Due: none

CI 3
  .github/workflows/ci.yml
Due: none

CI 4
  .github/workflows/ci.yml
Due: none

CI 5
  .github/workflows/ci.yml
Due: none

CI 6
  .github/workflows/ci.yml
Due: none

CI 7
  .github/workflows/ci.yml
Due: none

CI 8
  .github/workflows/ci.yml
Due: none

Path conditions:
  mypy: any of: \.py$
  black: any of: \.py$
  flake8: any of: ^py_client/ and \.py$
  pytest: any of: \.py$
